body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.icon-container img {
    width: 30px;
    height: 30px;
}

.history-container {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}